<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <h1 class="logo shadow-pop-tr">MYJSONG</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item w-100 m-2">
                    <a style="border: none" class="btn btn-outline-light w-100 h-100 shadow-pop-tr" aria-current="page"
                        href="/">
                        <h1 class="text-center"></h1>
                            <p class="mx-3">HOME</p></a>
                          </li>
                 <li class="nav-item w-100 m-2">
                    <a style="border: none" class="btn btn-outline-light w-100 h-100 shadow-pop-tr" href="/video">
                        <h1 class="text-center"></h1>
                            <p>VIDEO</p></a>
                 </li>

                 <li class="nav-item w-100 m-2">
                    <a style="border: none" class="btn btn-outline-light w-100 h-100 shadow-pop-tr" href="/upload">
                        <h1 class="text-center"></h1>
                            <p>UPLOAD</p></a>
                 </li>
            
                 
           
                
                
            </ul>
            
        </div>
    </div>
    
</nav>

